{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="/static/css/auth_style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <title>Sign Up - Fintalk World</title>
    

</head>
<body>
    <div class="content sign-up-content">

        <section class="greeting sign-up-greeting">
            <h1><a href="{% url 'homepage' %}" class="welcome-link">Join The Fintalk World Family!</a></h1>
            <img src="{% static '/images/ftw_logo.svg' %}" alt="fintalk logo">
        </section>
        <section class="user-info log-in-card sign-up-card">
            <div class="auth-box log-in-box sign-up-box">
                {% if form.non_field_errors %}
                    <div class="non-field-errors-box">
                        {% for error in form.non_field_errors %}
                            <small class="error-non-field"><p>{{error}}</p></small>                        
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="POST" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.label == 'Username' %}
                            <label for="">{{field.label}} </label><br>
                            {{field}} <br>
                            <small class="field-exists username">Username taken, try another one. </small>
                            <small class="field-available username">Username available.</small>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <small class="field-error"><p>{{error}}</p></small>
                                {% endfor %} <br>  
                            {% endif %}
                        {% elif field.label == 'Email' %}
                            <label for="">{{field.label}} </label><br>
                            {{field}} <br>
                            <small class="field-exists email">Email already taken, try another one or login. </small>
                            <small class="field-available email">Valid email.</small>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <small class="field-error"><p>{{error}}</p></small>
                                {% endfor %} <br>  
                            {% endif %}
                        {% else %}
                            <label for="">{{field.label}} </label><br>
                            {{field}} <br>
                            
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <small class="field-error"><p>{{error}}</p></small>
                                {% endfor %} <br>  
                            {% endif %}
                        {% endif %}
                        
                    {% endfor %}
                    <button type="submit">Submit</button><br>
                    <small>Already registered? <a href="{% url 'login' %}">Log in!</a></small>
                </form>
            </div>    
        </section>
    </div>
    
    <script src="{% static '/js/sign_up.js' %}"></script>
    
</body>
</html>