.talk-info-bar {
    background: whitesmoke;
    width: 80vw;
    height: 7vh;
    margin-left: -15vw;
    margin-top: -3.4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
}

.post-talk-name {
    font-weight: bolder;
}

.post-talk-icon {
    display: flex;
    align-items: center;
}

.talk-info-icon {
    height: 20px;
    margin-right: 4px;
}

.talk-post-info {
    margin-right: 6px !important;
}

.talk-info-bar button{
    background: lightseagreen;
    height: 25%;
    width: 65%;
    border-radius: 4%;
    border: lightseagreen;
    transition: all .4s;
    cursor: pointer;
}
.talk-info-bar button a{
    text-decoration: none;
    color: white;
    font-size: 1.05em;
    font-weight: 600;
}

.talk-info-bar button:hover {
    box-shadow: 0px 0px 5px 0px lightseagreen;
}


.talk-post {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    margin-left: -15vh;
    margin-top: 7vh;
    padding:0 2%;
    box-shadow: grey 2px 0px 6px;
}

.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.post-header .post-text {
    margin-left: 5px;
}

.user-circle-img {
    height: 2em;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.comment-text-box form {
    display: flex;
    align-items: center;
}

.content-area {
    width: 85% !important;
    height: 2.5em !important;
    border: 1px solid lightseagreen;
    border-radius: 3%;
    outline: none;
    padding-left: 5px;
    padding-top: 9px;
    font-size: medium;
}

.content-submit-btn {
    background: lightseagreen;
    color: white;
    font-weight: bolder;
    width: 10%;
    height: 3.5em;
    margin-left: 5px;
    border-radius: 15%;
    cursor: pointer;
    transition: all 1s;
}

.content-submit-btn:hover {
    box-shadow: 0px 0px 5px 0px lightseagreen;
    transform: scale(.5);
}

.talk-name-link {
    text-decoration: none;
    color: black;
}

.talk-name-link.post{
    color:lightseagreen;
}

.post-text a {
    text-decoration: lightseagreen underline;
    color: lightseagreen;
}

.not-logged-text {
    color: lightseagreen;
}
.not-logged-text a{
    text-decoration: underline;
    color: lightseagreen;
}

.post-body {
    display: flex;
    align-items: center;
}

.post-body a .post-footer-icon {
    height: 18px;
    margin-left: 4px;
}

.talk-post.reply{
    height: 30%;
    width: 80%;
    margin-bottom: 5%;
}

.img-username{
    display: flex;
    align-items: center;
}

.talk-post.reply .post-header{
    justify-content: space-between;
}

.like-link {
    text-decoration: none !important;
    color: lightseagreen;
}