{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/home_style.css">
{% endblock %}

{% block title%}Homepage - Fintalk{% endblock %}

{% block body %}
    <div class="search">
        <form action="" method="POST">
            {% csrf_token %}
            <input class="search-bar" type="text" maxlength="200" placeholder="E.g. Cryptocurrency" name='talk-name-input' id="talk-name-input"><br>
            <div class="possible-talks">
                <ul class="results">
                   <li>Result 1</li> 
                   <li>Result 2</li> 
                   <li>Result 3</li> 
                </ul>
            </div>
            <button class="search-btn">Search Talk</button>
        </form>
        
    </div>
    <div class="recent-topics">
        {% for topic in topics %}
            <div class="topic-board">
                <a href="">
                    <div class="board-header">
                        <img src="/static/image/user-circle-regular.svg" alt="" class="user-avatar">
                        <span><p>{{topic.creator.username}} - post at: <span class="talk-name">{{topic.talk.name}}</span></p></span> 
                    </div>
                    <div class="board-body">
                        {{topic.get_description_short}}
                    </div>
                    <div class="board-footer">
                        <div class="comment-section">
                            <img class="cmt-icon" src="/static/image/comment-alt-regular.svg" alt="">
                            <span>10k</span>
                        </div>
                            
                        <span class="timestamp">{{topic.date_created|naturaltime}}</span>
                    </div>
                </a>
            </div>
        {% endfor %}    

    </div>
    <script src="/static/js/index_app.js"></script>

{% endblock %} 

