{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/home_style.css">
{% endblock %}

{% block title%}Homepage - Fintalk{% endblock %}

{% block body %}
    <div class="search">
        <form action="{% url 'get_talk' %}" method="GET">
            {% csrf_token %}
            <input class="search-bar" type="text" maxlength="200" placeholder="E.g. Cryptocurrency" name='talk-name-input' id="talk-name-input" onclick="this.select();"><br>
            <div class="possible-talks">
                <ul class="search-result">
                </ul>
            </div>
            <button class="search-btn">Search Talk</button>
        </form>
        
    </div>
    <div class="recent-topics">
        {% for post in posts %}
            <div class="topic-board">
                    <div class="board-header">

                        <img src="/static/image/user-circle-regular.svg" alt="User Avatar" class="user-avatar">
                        
                        <p>
                            <span>{{post.creator.username}} - post at: </span>
                            <span>
                                <a href="{% url 'talk' post.talk.pk %}" class="talk-name">{{post.talk.name}}</a>
                            </span>
                        </p> 
                        
                    </div>
                    <div class="board-body">
                        <a href="{% url 'post_view' post.talk.pk post.pk %}">
                            {% if post.content.count > 150 %}
                                {{post.content|slice:":150"}}...
                            {% else %}
                                {{post.content}}
                            {% endif %}
                        </a>
                        
                    </div>
                    <div class="board-footer">
                        <div class="comment-section">
                            <small class="post-text s">replies</small>
                            <small class="post-text s">{{post.replies.count}}</small>
                            <small class="post-text s">value</small>
                            <small class="post-text s">{{post.user_post_likes.count}}</small>
                        </div>
                        <span class="timestamp">{{post.format_date}}</span>
                    </div>
                    <div class="post-comment-icons">
                        <a href="{% url 'post_view' post.talk.pk post.pk%}">
                            <img src="{% static 'image/comment-alt-regular.svg' %}" alt="chat bubble" class="post-footer-icon" title="add comment">
                        </a>
                        <a href="{% url 'like_post' post.pk %}">
                            <img src="{% static 'image/chart-line-solid.svg' %}" alt="chart graph" class="post-footer-icon" title="Increase post value">
                        </a>
                        
                    </div>
            </div>
        {% endfor %}    
    </div>
    <script src="{% static 'js/index_app.js' %}"></script>   
{% endblock %} 

