{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/post_style.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/talk_style.css' %}"> 

{% endblock %}

{% block body %}
    <div class="talk-info-bar">
        <div class="post-talk-name">
           <a href="{% url 'talk' post.talk.pk %}" class="talk-name-link">{{post.talk.name}} Talk</a>
        </div>
        <div class="post-talk-icon">
            <img src="{% static 'image/users-solid.svg' %}" alt="followers icon" title="Talk Followes" class="talk-info-icon"> 
            <small class="talk-post-info">{{post.talk.followers.all.count}}</small>
            <img src="{% static 'image/chalkboard-solid.svg' %}" alt="followers icon" 
            title="Talk Topics" class="talk-info-icon"> 
            <small class="icon-info talk-post-info">{{post.talk.posts.count}}</small>
        </div>    
        <div class="post-talk-btn">
                <button><a href="#">Create Post</a></button>

                {% if userFollows %}
                    <button>
                        <a href="{% url 'followTalk' post.talk.pk %}">Unfollow Talk</a>
                    </button>
                    
                {% else %}
                    <button>
                        <a href="{% url 'followTalk' post.talk.pk %}">Follow Talk</a>
                    </button>
                {% endif %}

        </div>
    </div>

    <div class="talk-post">
        <div class="post-header">
            <img src="{% static 'image/user-circle-regular.svg' %}" alt="" class="user-circle-img">
            <p class="post-text">{{post.creator.username}} - posted at:</p>
            <p class="post-text"><a href="{% url 'talk' post.talk.pk %}" class="talk-name-link post">{{post.talk.name}}</a></p>
        </div>
        
        <div class="post-body">
            <p class="post-text m">
                {{post.content}}
                
            </p>
            <a href="{% url 'like_post' post.pk %}">
                <img src="{% static 'image/chart-line-solid.svg' %}" alt="chart graph" class="post-footer-icon" title="Increase post value">
            </a>
        </div>

        <div class="post-footer">
            <div class="footer-links">
                <small class="post-text s">replies</small>
                <small class="post-text s">{{post.replies.count}}</small>
                <small class="post-text s">value</small>
                <small class="post-text s">{{post.user_post_likes.count}}</small>
            </div>
            <div class="post-date">
                <small class="post-text">{{post.format_date}}</small>
            </div>
        </div>
        <div class="comment-text-box">
            {% if request.user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                    {{field}}
                {% endfor %}

                <input type="submit" value="Comment" class="content-submit-btn">
            </form>
            {% else %}
            <p class="not-logged-text">Start talking about this post, just <a href="{% url 'signIn' %}">log in</a> or <a href="{% url 'sign_up' %}">sign up</a>.</p>
            {%endif%}
        </div>
    </div>

    {% for reply in post.replies.all|slice:'10' %}
        <div class="talk-post reply">
            <div class="post-header">
                <div class="img-username">    
                    <img src="{% static 'image/user-circle-regular.svg' %}" alt="" class="user-circle-img">
                    <p class="post-text">{{reply.creator.username}}</p>
                </div>
                <div class="date">
                    <small class="post-text">{{post.format_date}}</small>          
                </div>
                </div>
                
            <div class="post-body">
                <p class="post-text m">
                    {{reply.reply}}
                </p>
            </div>
            <div class="post-footer">
                <div class="footer-links">
                    <small class="post-text s" title="Like title"><a class="like-link" href="{% url 'like_reply' reply.pk %}">Likes</a></small>
                    <small class="post-text s">{{reply.user_reply_likes.count}}</small>
                </div>

                {% if reply.creator == request.user %}
                    <a href="{% url 'delete_reply' reply.pk %}">
                        <img src="{% static 'image/trash-alt-solid.svg' %}" alt="" class="trash-icon">
                    </a>
                {%endif%}
            </div>
        </div>
    {% endfor %}

{% endblock %}