{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/talk_style.css'%}">
{% endblock %}

{% block body %}
   <section class="info-card">
        <div class="card-header">
            <p class="talk-name">       
                {{selected_talk.name}} Talk
            </p>
        </div>
        <div class="card-body">
            <div class="talk-info">
                
                <div class="description">
                    <p>{{selected_talk.description|slice:100}}</p>
                </div>

                <div class="icons">
                    <img src="{% static 'image/users-solid.svg' %}" alt="followers icon" title="Talk Followes" class="followers-icon"> 
                    <small class="icon-info">{{selected_talk.followers.all.count}}</small>
                    <img src="{% static 'image/chalkboard-solid.svg' %}" alt="followers icon" title="Talk Topics" class="followers-icon"> 
                    <small class="icon-info">{{talk_topics.count}}</small>
                </div>

            </div>
            <div class="btn-container">
                <button><a href="#">Create Topic</a></button>

                {% if userFollows %}
                    <button>
                        <a href="{% url 'followTalk' selected_talk.pk %}">Unfollow Talk</a>
                    </button>
                    
                {% else %}
                    <button>
                        <a href="{% url 'followTalk' selected_talk.pk %}">Follow Talk</a>
                    </button>
                {% endif %}

            </div>
        </div>        
   </section>

   <section class="talk-topics">
        <div class="recent-topics">
            {% for topic in talk_topics %}
                <div class="topic-board">
                    <div class="board-header">
    
                        <img src="/static/image/user-circle-regular.svg" alt="User Avatar" class="user-avatar">
                            
                        <p>
                            <span>{{topic.creator.username}} - post at: </span>

                            <span>
                                <a href="{% url 'talk' topic.talk.pk %}" class="talk-name">{{topic.talk.name}}</a>
                            </span>
                        </p> 
                            
                    </div>
                        
                    <div class="board-body">
                        
                        <a href="">
                            {{topic.description|slice:":150"}}...
                        </a>
                            
                    </div>
                    <div class="board-footer">
                        
                        <div class="comment-section">
                            <img class="cmt-icon" src="/static/image/comment-alt-regular.svg" alt="">

                            <span>{{topic.posts.count}}</span>

                        </div>
                                
                        <span class="timestamp">{{topic.format_date}}</span>

                    </div>
                </div>
            {% endfor %}    
        </div>
   </section>
   
{% endblock %}