{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/home_style.css'%}">
    <link rel="stylesheet" href="{% static 'css/talk_style.css'%}">
{% endblock %}

{% block body %}
   <section class="info-card">
        <div class="card-header">
            <p class="talk-name">       
                {{selected_talk.name}} Talk
            </p>
        </div>
        <div class="card-body">
            <div class="talk-info">
                
                <div class="description">
                    <p>{{selected_talk.description|slice:100}}</p>
                </div>

                <div class="icons">
                    <img src="{% static 'image/users-solid.svg' %}" alt="followers icon" title="Talk Followes" class="followers-icon"> 
                    <small class="icon-info">{{selected_talk.followers.all.count}}</small>
                    <img src="{% static 'image/chalkboard-solid.svg' %}" alt="followers icon" title="Talk Topics" class="followers-icon"> 
                    <small class="icon-info">{{talk_posts.count}}</small>
                </div>

            </div>
            <div class="btn-container">
                <button><a href="#">Create Post</a></button>

                {% if userFollows %}
                    <button>
                        <a href="{% url 'followTalk' selected_talk.pk %}">Unfollow Talk</a>
                    </button>
                    
                {% else %}
                    <button>
                        <a href="{% url 'followTalk' selected_talk.pk %}">Follow Talk</a>
                    </button>
                {% endif %}

            </div>
        </div>        
   </section>

   <section class="talk-topics">
        <div class="recent-topics">
            {% for post in talk_posts %}
                <div class="topic-board">
                    <div class="board-header">

                        <img src="/static/image/user-circle-regular.svg" alt="User Avatar" class="user-avatar">
                        
                        <p>
                            <span>{{post.creator.username}} - post at: </span>
                            <span>
                                <a href="{% url 'talk' post.talk.pk %}" class="talk-name">{{post.talk.name}}</a>
                            </span>
                        </p> 
                        
                    </div>
                    <div class="board-body">
                        <a href="{% url 'post_view' post.talk.pk post.pk request.user.pk %}">
                            {% if post.content.count > 150 %}
                                {{post.content|slice:":150"}}...
                            {% else %}
                                {{post.content}}
                            {% endif %}
                        </a>
                        
                    </div>
                    <div class="board-footer">
                        <div class="comment-section">
                            <small class="post-text s">replies</small>
                            <small class="post-text s">{{post.replies.count}}</small>
                            <small class="post-text s">value</small>
                            <small class="post-text s">{{post.user_post_likes.count}}</small>
                        </div>
                        <span class="timestamp">{{post.format_date}}</span>
                    </div>
                    <div class="post-comment-icons">
                        <a href="{% url 'post_view' post.talk.pk post.pk% }">
                            <img src="{% static 'image/comment-alt-regular.svg' %}" alt="chat bubble" class="post-footer-icon" title="add comment">
                        </a>
                        <a href="">
                            <img src="{% static 'image/chart-line-solid.svg' %}" alt="chart graph" class="post-footer-icon" title="Increase post value">
                        </a>
                        
                    </div>
                </div>
            {% endfor %}    
        </div>
   </section>
   <script src="{% static 'js/index_app.js' %}"></script>
{% endblock %}