.container{
	justify-content: center;
}

.fire{
	margin-right: 3px;
	margin-left: 2px;
}

.breadcrumb{
    margin-bottom: 0px !important;
    padding: 0.1rem 0rem !important;

}

.breadcrumb-item {
    color: #22a9f461;
    margin-left: 4px !important;
}
.breadcrumb-item.active{
	color: #03a9f4 !important;
}

.section-left{
	float: left;
    text-align: center;
    width: 20%;
    background-image: linear-gradient(#ffffff , #616161);
    padding-top: 5px;
    padding-bottom: 103px;
    border-radius: 1%;
    margin-left: 5px;
    margin-top: 25px;
}

.section-right{
	float: right;
	margin-right: 5px !important;
    text-align: center;
	background-image: linear-gradient(#ffffff , #616161);
    padding-top: 5px;
    width: 20%;
    padding-bottom: 103px;
    border-radius: 1%;
    margin-top: 25px;
}


.section-center{
	
	margin-left: 188px;
    margin-right: 188px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-wrapper{
	margin-top: 25px;
}

.aside-content{
	color: black;
    font-family: Gill Sans;
	width: 100px !important;
	font-size: 21px;
    font-weight: 600;
}

.aside-links{
	text-decoration: none !important;
	font-weight: 400;
	font-family: URW Gothic L, sans-serif !important;
    font-size: medium;
	transition: color 2s;
	color: black;
}

.aside-links:hover{
	color:#03a9f4;
}

.topic-link{
	text-decoration: none !important;
}

.card{
	
	margin-bottom: 30px;
	background-image: linear-gradient(#ffffff , #616161) !important;
	margin-left: 155px;
    margin-right: 155px;
    border: 1px solid rgb(97, 97, 97) !important;

}

.card-title.topic-subject{
	text-align: center;
	color: black;
	font-family: Gill Sans;
	font-size: 21px;
	font-weight: 600;
}

.talk-name{
	transition: color 2s;
	text-align: center;
	color: black;
	font-family: Gill Sans;
	font-size: 21px;
	font-weight: 600;
}

.talk-name:hover{
	color:#03a9f4;
}

#card-body-content{
	color:black;
	font-weight: 400;
	font-family: URW Gothic L, sans-serif;
    font-size: smaller;
    transition: color 2s;
    text-decoration: none;
    font-size: medium;
}

.btn.home{
	background-color: #03a9f4 !important;
    border-color: #868686 !important;
    transition: background-color 2s !important;
}

.btn.home:hover{
	background-color: #0277bd !important;
}

.content-recent{
	font-size: 15px ;
	color: black;
	transition: color 2s;
	text-decoration: none !important;
	font-weight: 500;
}

#card-body-content:hover{
	color: #03a9f4;
}

#talk-link{
	color: black;
	transition: color 2s;
	transform-style: none;
	text-decoration: none;
	font-weight: 500;
}

#talk-link:hover{
	color: #03a9f4;
}

.fa-heart{
	color: red;
	margin-right: 0.01em !important;
	text-decoration: none !important;
	font-size: small;
	transition: all .2s ease-in-out;
}

.fa-heart:hover{
	transform: scale(1.5);
	color: #03a9f4;
}

.heart-link{
	text-decoration: none !important;
}

.talks_counter{
	color: white;
	margin-right: 0.01em !important;
	font-size: small;	
}


.fas-add_talk{
	text-decoration: none !important;
}

.fa-plus {
	color: #383c3e;
	text-decoration: none !important;
	margin-left: 3px !important;
	font-size: small;
	transition: all .2s ease-in-out;
}

.fa-plus:hover{
	transform: scale(1.5) !important;
	color: #03a9f4;
}

.topic-subject{
	text-align: center;
	margin-top: -10px !important;
	margin-bottom: 13px !important;
	text-decoration: none;
	color: black !important;
}


.title-subject{
	text-decoration: none !important;
	color: black !important;
	transition: all 2s !important;
}

.title-subject:hover{
	color:#03a9f4 !important;
}

.topic-description{
	margin-left: 5px !important;
}

.text-muted.creator{
	float: right;
    font-size: smaller;
    color: black !important;
}

.btn.topic{
	background-color: #03a9f4 !important;
    border-color: #616161 !important;
    transition: background-color 2s !important;
    margin-left: 155px;
    margin-right: 155px;
}

.btn.topic:hover{
	background-color: #0277bd !important;
}

.fas-add-reply{
	text-decoration: none !important;
}

.fa-comment-dollar {
	color: #383c3e;
	text-decoration: none !important;
	margin-left: 3px !important;
	font-size: small;
	transition: all .2s ease-in-out;
}

.fa-comment-dollar:hover{
	transform: scale(1.5) !important;
	color: #03a9f4;
}

.fa-trash-alt{
	color: #383c3e;
	margin-left: 3px !important;
	font-size: small;
	transition: all .2s ease-in-out;
}

a.trash-link{
	text-decoration: none !important;
}

.fa-trash-alt:hover{
	transform: scale(1.5) !important;
	color: #03a9f4;
}

a.comment{
	color: black;
	font-weight: 400;
	transition: color 2s;
	font-family: URW Gothic L, sans-serif;
    font-size: medium;
    text-decoration: none !important;
}

a.comment:hover{
	color: #03a9f4;
}

a.card-username{
	font-size: 23px;
    margin-left: 2px;
    color: black;
    font-weight: 600;
    text-decoration: none !important;
    transition: color 2s !important;
}

a.card-username:hover{
	color: #03a9f4;
}

.card-image{
	border-color: #d2d2d2;
    border-radius: 24%;

}
