body{
  background-color:#616161 !important;;
}

.authentication{
  color: #03a9f4;
  text-decoration: none !important;
}


.navbar{
  background-image: linear-gradient(#afafad
, #434343);
;
  width: 100%;
}

.navbar .navbar-brand{
  font-size: 1.3em;
  font-family: DejaVu Sans monospace;
  font-weight: bold;
  color: #03a9f4 !important;
}

a.navbar-brand{
  color: black !important;
  transition: color 2s;
}

.image{

  border-radius: 50%;
  border-color: #d2d2d2;
  border-style: solid;
  margin-bottom: 5px;
}


a.dropdown-toggle::after{
  color:#3a79c7;
}

a.dropdown-item{
  color: #03a9f4; !important;
  transition: color 2s;
}

a:hover.dropdown-item {
  color: #434343 !important;

}

div.dropdown-menu{
  top: 137%;
  right: -17px !important;
  left: -100px !important;
  background-color: #212529;
}

.breadcrumb{
  background-color: #4b4b4b !important;
  font-size: 20px !important;
}

.breadcrumb-item.active {
    color: #03a9f4;
    text-decoration: none !important;
}

.breadcrumb-item a{
  color: #22a9f461;
  text-decoration: none !important;
}

a.img-link:link{
  text-decoration: none;
}
