
.d-flex{
  margin-top: 50px;
  margin-bottom: 50px;
}

.card{
  width: 40%;
  background-image: linear-gradient(#afafad , #434343) !important;
  border: 1px solid rgb(97, 97, 97) !important;
}
.card-body{
  border-width: 2px;
}

.card-title h3{
  text-align: center;
  color: black;
  font-family: Gill Sans;
  font-size: 21px;
  font-weight: 600;
}

.card-body label{
  color: #353535;
  font-weight: bold;
}

.card-body input{
  width: 100%;
}

.btn{
  background-color: #03a9f4 !important;
  transition: background-color 2s !important;
  border-color: #03a9f4 !important;
}

.btn:hover{
  background-color: #0277bd !important;
}

#id_username.field-correct{
  border-color: lime;
}

#id_password.field_correct:{
  border-color: lime;
}

#id_username.error-border{
  border-color: red;
}

#id_password.error-border:{
  border-color: red;
}
