li.breadcrumb-item a.go-back-link {
  color: #22a9f461 !important;
}

.wrapper-content{
  margin-bottom: 20px;
}

.d-flex{
  margin-top: 50px;
  margin-bottom: 50px;
}

.card.topic-form{
  width: 100%;
  background-image: linear-gradient(#afafad , #434343) !important;
  border: 1px solid rgb(97, 97, 97) !important;

}


.card-title h3{
  text-align: center;
  color: black;
  font-family: Gill Sans;
  font-size: 21px;
  font-weight: 600;
}

.card-body label{
  color: #353535;
  font-weight: bold;
}

.card-body input{
  width: 40%;
}

/*.card-body .btn-primary{
  background-color: #363636 !important;
  border-color: #c3ac19 !important;
  color: #ded6a0;
}*/

.btn{
  background-color: #03a9f4 !important;
  transition: background-color 2s !important;
  border-color: #03a9f4 !important;
}

.btn:hover{
  background-color: #0277bd !important;
}

.cancel-btn{
  color: black !important;
  transition: color 2s !important;
  text-decoration: none !important;
}

.cancel-btn:hover{
  color: #03a9f4 !important;
}

textarea{
  width: 100%;
}

a.go-back-link{
  color: #ded6a061 !important;
}
