{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/css/base_style.css' %}">

        <script src="https://kit.fontawesome.com/011ed67745.js"></script>
        {% block stylesheet %}{% endblock %}
        <title>
            {% block title %}{% endblock %}
        </title>

    </head>

    <body>
        
        <div class="indexes-bar" id="slider">
                <div class="slider-btn">
                    <button id="slide-left">
                        <img src="{% static 'images/arrow-left-solid.svg' %}" alt="">
                    </button>
                    <button id="slide-right" disabled>
                        <img src="{% static 'images/arrow-right-solid.svg' %}" alt="">
                    </button>
                </div>
                <div class="main-indexes">
                    
                    <ul id="index-lst1">
                        <li>
                            <span>S&P500 </span>
                            <span id="sp">N/A</span>
                        </li>
                        <li>
                            <span>DJI</span> 
                            <span id="dji">N/A</span>
                        </li>
                        <li>
                            <span>Nasdaq</span> 
                            <span id="ndaq">N/A</span>
                        </li>
                    </ul>
                    <ul id="index-lst2">
                        
                        <li>
                            <span>EUR/USD</span>
                            <span id="eu-usd">N/A</span>
                        </li>
                        <li>
                            <span>GBP/USD</span>
                            <span id="gbp-usd">N/A</span>
                        </li>
                        <li>
                            <span>USD/JPY</span>
                            <span id="usd-jp">N/A</span>
                        </li>
                        <li>
                            <span>BTC-USD</span>
                            <span id="btc">N/A</span>
                        </li>
                    </ul>
                    
                </div>

        </div>
            <div class="nav-links">
                <div class="site-name">
                    <img src="/static/images/ftw_logo.svg" alt="graphs, code components, and coins leaving a computer">
                    <a href="{% url 'homepage' %}"><h3>Fintalk World</h3></a>
                </div>
                
                <!-- Space Assigned for authenticated User navbar-->

                {% if request.user.is_authenticated %}
                    <div class="user-info-nav">
                        <img class="user-icon-nav" src="/static/images/user-circle-regular.svg" alt="user icon">
                        <h3 class="username-nav">{{request.user.username }}</h3>
                        <img src="/static/images/drop-down-solid.svg" alt="A triangle pointing down" class="drop-icon">
                    </div>
                    <div class="auth-menu">
                        <ul class="user-nav-menu">
                            <li><a href="">My Profile</a></li>
                            <li><a href="">Settings</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="burger-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>  

                    <ul class="auth-links">
                        <li><a href="{% url 'sign_up' %}">Sign Up</a></li>        
                        <li class="login"><a href="{% url 'login' %}">Log In</a></li>        
                    </ul>
                {% endif %}

            </div>
        <div class="main-container">
            <div class="sidebar-nav">

                <div class="talk-links">
                    {% if follow_talks.count >= 3 %}
                        
                        <h3>Top Talks</h3>
                        <ul>
                            <li>{% block recent_talk_1 %}Talk Name 1{% endblock%}</li>
                            <li>{% block recent_talk_2 %}Talk Name 2{% endblock%}</li>
                            <li>{% block recent_talk_3 %}Talk Name 3{% endblock%}</li>
                            <li><a href="">More Talks </a></li>
                        </ul>
                    {% else %}

                        <h3>Recent Talks</h3>
                        <ul>
                            {% for talk in talks|slice:3 %} 
                                <li>
                                    <a href="{% url 'talk' talk.pk %}" class="side-bar-talks">{{talk}}</a>
                                </li>
                            {% endfor %}
                            <li><a href="">More Talks </a></li>
                        </ul>

                    {% endif %}
                </div>
                <div class="topic-links">
                    {% if request.user.is_authenticated %}
                        {% if request.user.topics.count >= 3 %}
                            <h3>Your Topics</h3>
                            <ul>
                                {% for topic in request.user.topics.all|slice:":3" %}
                                    <li>{{topic}}</li>
                                {% endfor %}
                                <li><a href="">More Talks </a></
                            </ul>
                        {% else%}
                            <h3>Your Topics</h3>
                            <a class="start-topic" href="">Start a Topic!</a>
                        {% endif%}

                    {% else %}
                        <h3>Your Topics</h3>
                        <a class="start-topic" href="{% url 'login' %}">Start a Topic!</a>
                    {% endif %}
                </div>

            </div>
            <div class="content-container">
                {% block body%}{% endblock %}
            </div>
        </div>
        <script src="/static/js/base.js"></script>
    </body>
</html>