{% load humanize %}

    {% for next_topic in next_topics %}
        <div class="topic-board">
            <a href="">
                <div class="board-header">
                    <img src="/static/image/user-circle-regular.svg" alt="" class="user-avatar">
                    <span><p>{{next_topic.creator.username}} - post at: <span class="talk-name">{{next_topic.talk.name}}</span></p></span> 
                </div>
                <div class="board-body">
                    {{next_topic.get_description_short}}
                </div>
                <div class="board-footer">
                    <div class="comment-section">
                        <img class="cmt-icon" src="/static/image/comment-alt-regular.svg" alt="">
                        <span>10k</span>
                    </div>
                        
                    <span class="timestamp">{{next_topic.date_created|naturaltime}}</span>
                </div>
            </a>
        </div>
    {% endfor %}
