* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.outside-container {
    width: 100vw;
    height: 100vh;
}

.nav-links {
    background: lightseagreen;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    letter-spacing: 2px;
    height: 9%;
}

.nav-links .site-name {
    width: 60vw;
    display: flex;
    align-items: center;
}

.nav-links .site-name img {
    width: 7vw;
    height: 50px;
}

.nav-links .site-name h3 {
    color: white;
    font-size: 20px;
}


.nav-links .auth-links {
    display: flex;
}

.auth-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.auth-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border-radius: 10%;
    padding: 10px;
    transition: all .5s;
}

.auth-links ul li a:hover {
    background: black;
}

.burger-menu .line {
    background: white;
    width: 33px;
    height: 3px;
    margin-top: 4px;
    display: none;
}

/* Space Assigned for Authenticated User */

.indexes-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    font-size: 15px;
}

.main-indexes ul,
.popular-stocks ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
