* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.indexes-bar {
    display: flex;
    position: fixed;
    background: whitesmoke;
    align-items: center;
    font-size: 8px;
    white-space: nowrap;
    z-index: 10;
}

.slider-btn {
    display: flex;
    justify-content: space-around;
    background: whitesmoke;
    z-index: 10;
}

.slider-btn #slide-right {
    opacity: .5;
}

.slider-btn button img {
    width: 1.3em;
    background: transparent;
}
.slider-btn button {
    margin-left: 1vw;
    background: transparent;
    border: transparent;
    padding: 5px;
    cursor: pointer;
    
}

.main-indexes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-indexes ul {
    text-align: center;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.4em;
}

#index-lst1 {
    transition: transform 2s ease-in-out;
    width: 100vw;
}
#index-lst2 {
    transition: transform 2s ease-in-out;
    width: 100vw;
}

.main-indexes ul li span {
    margin-left: 1.5vw;
}

.main-indexes ul li span:nth-child(1) {
    font-weight: bolder;
}

.nav-links {
    position: fixed;
    width: 100vw;
    background: lightseagreen;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    letter-spacing: 2px;
    top: 27px;
    height: 9%;
    
}

.nav-links .site-name {
    width: 60vw;
    display: flex;
    align-items: center;
}

.nav-links .site-name img {
    width: 7vw;
    height: 50px;
}

.site-name a {
    text-decoration: none;
}

.nav-links .site-name h3 {
    color: white;
    font-size: 20px;
}

.auth-links {
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.auth-links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.auth-links li {
    background: transparent;
    border-radius: 10%;
    padding: 10px;
    transition: all .5s;
}
.auth-links li:hover {
    background: black;
}


.burger-menu {
    cursor: pointer;
}
.burger-menu .line {
    background: white;
    width: 33px;
    height: 3px;
    margin-top: 4px;
    display: none;
}

/* Space Assigned for Authenticated User */
.user-info-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 13vw;
}

.user-icon-nav {
    height: 35px;
    width: 30px;
    margin-right: 1vw;
}

.username-nav {
    font-size: 17px;
    color: white;
    margin-right: .5vw;
}

.drop-icon {
    height: 20px;
    margin-bottom: 1px;
    cursor: pointer;
}

.user-nav-menu {
    list-style-type: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    background: lightseagreen;
    height: 100vh;
    top: 9vh;
    width: 23vw;
    font-size: 18px;
    text-align: center;
    transform: translateY(-100vw);
    transition: transform .5s ease-in; 
}

.drop-active {
    transform: translateY(0vw);
}

.user-nav-menu li a {
    text-decoration: none;
    color: white;
}

.user-nav-menu li {
    transition: all .5s;
    padding: 20px 0;
    width: 100%;
    margin: 10vh 0;
}

.user-nav-menu li:hover {
    background: black;
}




/* Start main container*/
.main-container {
    display: flex;
}

.main-container .sidebar-nav {
    position: fixed;
    top: 86px;
    height: 100vh;
    width: 20vw;
    background: whitesmoke;
    justify-content: space-around;
    text-align: center;
  
}

.sidebar-nav .talk-links {
    width: 100%;
}

.sidebar-nav .topic-links {
    /* width: 100%; */
}

.talk-links {
    margin-bottom: 8vh;
}

.talk-links h3,
.topic-links h3 {
    font-weight: bolder;
    margin-bottom: 2vh;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    color: black; 
}

.talk-links ul,
.topic-links ul {
    list-style-type: none;
}

.talk-links ul li,
.topic-links ul li{
    margin-top: 4vh;
    padding: 5px 0;
    width: 100%;
    cursor: pointer;
    transition: all .5s;
}
.talk-links ul li:hover,
.topic-links ul li:hover{
    background: lightseagreen;
    color: white;
}

.talk-links ul li a,
.topic-links ul li a{
    color: lightgray;
    text-decoration: none;
}

.start-topic {
    text-decoration: none;
    color: lightseagreen;
}

.content-container {
    margin-left: 35vw;
    margin-right: 10vw;
    margin-top: 16vh;
}

.burger-active {
    transform: translateX(0vw) !important;
}

@media only screen and ( max-width: 1440px) {
    .main-container .sidebar-nav {
        height: 88vh;
    }

}
@media only screen and ( max-width: 1400px) {
    .main-container .sidebar-nav {
        height: 87.5vh;
    }

}


@media only screen and ( max-width: 1280px) {
    .main-container .sidebar-nav {
        height: 87.5vh;
    }

}

@media only screen and ( max-width: 1700px) {
    .main-container .sidebar-nav {
        height: 87.5vh;
    }

}
@media only screen and ( max-width: 1440px) {
    .main-container .sidebar-nav {
        height: 87.5vh;
    }

}


@media only screen and ( max-width: 1024px) {
    .main-container .sidebar-nav {
        height: 87.5vh;
    }

}
@media only screen and ( max-height: 768px) {
    .main-container .sidebar-nav {
        height: 100vh;
        top: 12.5vh;
    }

}

@media only screen and ( max-height: 720px) {
    .main-container .sidebar-nav {
        height: 100vh;
        top: 12.8vh;
    }

}

@media only screen and ( max-width: 768px) {
    .main-container .sidebar-nav {
        
        height: 86.9vh;
    }
    .auth-links ul li a {
        font-size: 16px;
    }
    .nav-links .site-name h3 {
        font-size: 16px;
    }
    .nav-links .site-name img {
        width: 6vw;
        height: 50px;
    }
}

@media only screen and ( max-width: 731px) {
    .main-container .sidebar-nav {
        display: none;
    }
    
    .indexes-bar {
        display: none;
    }
    .site-name img {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .nav-links .auth-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links .auth-links{
        top:8vh;
        position: absolute;
        flex-direction: column;
        height: 100vh;
        background: lightseagreen;
        right: 0;
        width: 40vw;
        text-align: center;
        transform: translateX(100vw);
        transition: transform .8s ease-in;
    }

    .auth-links ul li a:hover {
        background:transparent;
    }

    .auth-links li {
        border-radius: 0%;
        padding: 10px;
        width: 100%;
        background: transparent;
        transition: all .5s;
    }

    .auth-links li:hover {
        background: black;
    }

    .burger-menu .line{
        display: flex;
        flex-direction: column;
    }

    .nav-links .site-name img {
        width: 10vw;
        height: 50px;
    }
}


@media only screen and ( max-width: 640px) {
    .main-container .sidebar-nav {
        display: none;
    }
    
    .indexes-bar {
        display: none;
    }
    .site-name img {
        display: none;
    }
}
@media only screen and ( max-width: 411px) {
    .main-container .sidebar-nav {
        display: none;
    }
    
    .indexes-bar {
        display: none;
    }
    .site-name img {
        display: none;
    }
}

@media only screen and ( max-width: 360px) {
    .main-container .sidebar-nav {
        display: none;
    }
    
    .indexes-bar {
        display: none;
    }
    .site-name img {
        display: none;
    }
}

@media only screen and (max-height: 720px) {
    .main-container .sidebar-nav {
        top: 13vh;
}
@media only screen and (max-height: 655px) {
    .main-container .sidebar-nav {
        top: 13.2vh;
}
@media only screen and (max-height: 615px) {
    .main-container .sidebar-nav {
        top: 13.3vh;
}

@media only screen and (max-height: 590px) {
    .main-container .sidebar-nav {
        top: 13.4vh;
}
@media only screen and (max-height: 580px) {
    .main-container .sidebar-nav {
        top: 13.7vh;
}
@media only screen and (max-height: 540px) {
    .main-container .sidebar-nav {
        top: 14vh;
}
@media only screen and (max-height: 510px) {
    .main-container .sidebar-nav {
        top: 14.1vh;
}
@media only screen and (max-height: 499px) {
    .main-container .sidebar-nav {
        top: 14.4vh;
    }
    .content-container {
        margin-top: 20vh;
    }
}
@media only screen and (max-height: 469px) {
    .main-container .sidebar-nav {
        top: 14.7vh;
}
@media only screen and (max-height: 445px) {
    .main-container .sidebar-nav {
        top: 15vh;
}
@media only screen and (max-height: 420px) {
    .main-container .sidebar-nav {
        top: 15.9vh;
        font-size: 15px;
    }
    .search-bar {
        height: 7vh;
    }
    .nav-links .site-name h3 {
        color: white;
        font-size: 18px;
    }
    .auth-links li a {
        font-size: 18px;
    }
}
@media only screen and (max-height: 389px) {
    .main-container .sidebar-nav {
        top: 16vh;
    } 
}
@media only screen and (max-height: 365px) {
    .main-container .sidebar-nav {
        top: 16.5vh;
    }
}
@media only screen and (max-height: 340px) {
    .main-container .sidebar-nav {
        top: 17vh;
    }
}
@media only screen and (max-height: 320px) {
    .main-container .sidebar-nav {
        top: 17.6vh;
    }
}
